.Link {
    display: inline-block;
    color: #C5C6C7;
    margin: 2rem;
}

.Link::first-letter {
    font-weight: 700;
    font-size: 1.1rem;
}
.Link .Text {
    font-family: lato;
    font-weight: lighter;
    letter-spacing: .2rem;
    margin-right: -.2rem;
}

.Link:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
